{
  "EMPLOYEE_1": {
    "hotel": 25,
    "walk": 25,
    "overnight_hotel": 90,
    "cat_visit": 30,
    "pet_sitting_hourly": 17,
    "overnight_pet_sitting": 140,
    "dog_at_home": 75,
    "cat_at_home": 25,
    "training": 28,
    "management": 30,
    "transport": 25,
    "transport_km": 2.5,
    "expense": 0
  },
  "EMPLOYEE_2": {
    "hotel": 28,
    "walk": 28,
    "overnight_hotel": 90,
    "cat_visit": 30,
    "pet_sitting_hourly": 18,
    "overnight_pet_sitting": 140,
    "dog_at_home": 80,
    "cat_at_home": 28,
    "training": 30,
    "management": 35,
    "transport": 28,
    "transport_km": 2.5,
    "expense": 0
  },
  "EMPLOYEE_3": {
    "hotel": 22,
    "walk": 22,
    "overnight_hotel": 90,
    "cat_visit": 25,
    "pet_sitting_hourly": 15,
    "overnight_pet_sitting": 120,
    "dog_at_home": 65,
    "cat_at_home": 22,
    "training": 25,
    "management": 28,
    "transport": 22,
    "transport_km": 2.0,
    "expense": 0
  }
}